html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #2e2a31;   
}

#deadcafe-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    padding: 0px;
}

#deadcafe-widget #deadcafe-description {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;

    text-align: center;
    font-family: sans-serif;
    color: #f5f4f7;
    padding: 0.5em;
    background-color: #2e2a31;

    border-color: #bcbabe;
    border-style: dashed;
    border-width: 1px;
    border-radius: 0.25em;
}

@media screen and (max-width: 720px) {
    #deadcafe-widget .deadcafe-letter {
        font-size: 2.5em;
    }

    #deadcafe-widget #deadcafe-description {
        font-size: 0.75em;
    }
}